<style>
    .userbutton {
        margin-left: 600px;
    }
    
    .Ins-head b {
        font-size: 30px;
        margin-left: 20px;
    }
    
    .purchase-btn {
        margin-left: 5px;
    }
</style>




<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom"></h3>

        <div class="md-card">
            <div class="md-card-content large-padding">
                <h2 class="uk-text-primary"> MY PROFILE</h2>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-bg-blue-A400">
                                <div class="md-card-content">
                                    <h2 class="uk-text-contrast">Do not miss exicting offers,contests and gifts</h2>
                                    <h4 class="uk-text-contrast">keep your information update</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <form id="form_validation" class="uk-form-stacked">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">Full Name<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="email">Email<span class="req">*</span></label>
                                        <input id="email" type="email" name="email" data-parsley-trigger="change" required class="md-input" md-input />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row uk-margin-top">
                                        <label for="val_birth">Birth Date<span class="req">*</span></label>
                                        <input type="text" name="val_birth" id="val_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row parsley-row">
                                        <label class="uk-form-label">Gender<span class="req">*</span></label>
                                        <span class="icheck-inline">
                                                <input type="radio" name="val_radio_gender" id="val_radio_male"
                                                    ng-model="validation_form.gender" icheck required value="male" />
                                                <label for="val_radio_male" class="inline-label">Male</label>
                                            </span>
                                        <span class="icheck-inline">
                                                <input type="radio" name="val_radio_gender" id="val_radio_female"
                                                    ng-model="validation_form.gender" icheck value="female" />
                                                <label for="val_radio_female" class="inline-label">Female</label>
                                            </span>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">School/College Name<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">Phone Number<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">City<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>

                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <div class="uk-button-dropdown" data-uk-dropdown>
                                            <button class="md-btn">Grade (6 to 12) UG/PG<i
                                                        class="material-icons">&#xE313;</i></button>
                                            <div class="uk-dropdown uk-dropdown-small uk-dropdown-scrollable">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li><a href="#">Grade 6</a></li>
                                                    <li><a href="#">Grade 7</a></li>
                                                    <li><a href="#">Grade 8</a></li>
                                                    <li><a href="#">Grade 9</a></li>
                                                    <li><a href="#">Grade 10</a></li>
                                                    <li><a href="#">Grade 11</a></li>
                                                    <li><a href="#">Grade 12</a></li>
                                                    <li><a href="#">UG</a></li>
                                                    <li><a href="#">PG</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">state<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <label for="fullname">country<span class="req">*</span></label>
                                        <input id="fullname" type="text" name="fullname" required class="md-input" md-input />
                                    </div>
                                </div>
                                <div class="userbutton">

                                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">save</a>
                                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">cancel</a>
                                </div>


                            </div>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1">
                                    <div class="md-card">
                                        <div class="md-bg-blue-A400">
                                            <div class="md-card-content">
                                                <h2 class="uk-text-contrast">click here To Reset Your Password</h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                </div>


            </div>

        </div>
    </div>
</div>