<div id="page_content">
    <div id="page_content_inner">
        <h3>My Mutual Funds</h3>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                <div class="md-card">


                    <div class="md-card-content">
                        <h2>Amount Invested</h2> <br>
                        <h3>₹ 10,00,000</h3>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="md-card">
                    <div class="md-card-content">
                        <h2>Current Value</h2> <br>
                        <h3>₹ 11,00,000</h3>
                    </div>
                </div>
            </div>


            <div class="uk-width-medium-1-4">
                <div class="md-card">
                    <div class="md-card-content">
                        <h2>Profit / Loss</h2> <br>
                        <h3>₹ 1,00,000</h3>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="md-card">
                    <div class="md-card-content">
                        <h2>Profit / Loss</h2> <br>
                        <h3>10%</h3>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="heading_b uk-margin-bottom">My Mutual Fund Portofolio</h3>

        <h4 class="heading_a uk-margin-bottom"></h4>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table">

                        <caption></caption>
                        <thead>
                            <tr>
                                <th>Fund Name</th>
                                <th>No. of Units Purchased</th>
                                <th>Average NAV Price</th>
                                <th>Current NAV</th>
                                <th>Amount Invested</th>
                                <th>Current Value</th>
                                <th>Profit / Loss</th>
                                <th>Profit / Loss %</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>Canara Robeco Mutual Reg-G</td>
                            <td>80</td>
                            <td>2500</td>
                            <td>2508.65</td>
                            <td>2,00,000.00</td>
                            <td>200692.00</td>
                            <td>692</td>
                            <td>0.35%</td>

                        </tr>

                        <tbody>
                            <tr>
                                <td>Axis Bluechip-G</td>
                                <td>20</td>
                                <td>47.00</td>
                                <td>48.48</td>
                                <td>940.00</td>
                                <td>969.6</td>
                                <td>29.6</td>
                                <td>+3.14</td>
                            </tr>
                            <tr>
                                <td>ICICI Pru Bluechip-G</td>
                                <td>10</td>
                                <td>65</td>
                                <td>67.89</td>
                                <td>650.00</td>
                                <td>655.2</td>
                                <td>28.35</td>
                                <td>+4.12</td>
                            </tr>
                            <tr>
                                <td>SBI Large and Midcap-G</td>
                                <td>15</td>
                                <td>390</td>
                                <td>378.25</td>
                                <td>385.2</td>
                                <td>5483.2</td>
                                <td>-168.5</td>
                                <td>+12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h2>Fund Search</h2>
        <input type="search" placeholder="Search Here" class="tablesorter-filter" data-column="1" data-lastsearchtime="1653999982540">
        </br>
        </br>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table">

                        <caption></caption>
                        <thead>
                            <tr>
                                <th>Fund Name</th>
                                <th>No. of Units Purchased</th>
                                <th>Average NAV Price</th>
                                <th>Current NAV</th>
                                <th>Amount Invested</th>
                                <th>Current Value</th>
                                <th>Profit / Loss</th>
                                <th>Profit / Loss %</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>Canara Robeco Mutual Reg-G</td>
                            <td>80</td>
                            <td>2500</td>
                            <td>2508.65</td>
                            <td>2,00,000.00</td>
                            <td>200692.00</td>
                            <td>692</td>
                            <td>0.35%</td>

                        </tr>

                        <tbody>
                            <tr>
                                <td>Axis Bluechip-G</td>
                                <td>20</td>
                                <td>47.00</td>
                                <td>48.48</td>
                                <td>940.00</td>
                                <td>969.6</td>
                                <td>29.6</td>
                                <td>+3.14</td>
                            </tr>
                            <tr>
                                <td>ICICI Pru Bluechip-G</td>
                                <td>10</td>
                                <td>65</td>
                                <td>67.89</td>
                                <td>650.00</td>
                                <td>655.2</td>
                                <td>28.35</td>
                                <td>+4.12</td>
                            </tr>
                            <tr>
                                <td>SBI Large and Midcap-G</td>
                                <td>15</td>
                                <td>390</td>
                                <td>378.25</td>
                                <td>385.2</td>
                                <td>5483.2</td>
                                <td>-168.5</td>
                                <td>+12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h2>Fund Search</h2>
        <input type="search" placeholder="Search Here" class="tablesorter-filter" data-column="1" data-lastsearchtime="1653999982540">
        </br>
        </br>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table">

                        <caption></caption>
                        <thead>
                            <tr>
                                <th>Fund Name</th>
                                <th>No. of Units Purchased</th>
                                <th>Average NAV Price</th>
                                <th>Current NAV</th>
                                <th>Amount Invested</th>
                                <th>Current Value</th>
                                <th>Profit / Loss</th>
                                <th>Profit / Loss %</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>Canara Robeco Mutual Reg-G</td>
                            <td>80</td>
                            <td>2500</td>
                            <td>2508.65</td>
                            <td>2,00,000.00</td>
                            <td>200692.00</td>
                            <td>692</td>
                            <td>0.35%</td>

                        </tr>

                        <tbody>
                            <tr>
                                <td>Axis Bluechip-G</td>
                                <td>20</td>
                                <td>47.00</td>
                                <td>48.48</td>
                                <td>940.00</td>
                                <td>969.6</td>
                                <td>29.6</td>
                                <td>+3.14</td>
                            </tr>
                            <tr>
                                <td>ICICI Pru Bluechip-G</td>
                                <td>10</td>
                                <td>65</td>
                                <td>67.89</td>
                                <td>650.00</td>
                                <td>655.2</td>
                                <td>28.35</td>
                                <td>+4.12</td>
                            </tr>
                            <tr>
                                <td>SBI Large and Midcap-G</td>
                                <td>15</td>
                                <td>390</td>
                                <td>378.25</td>
                                <td>385.2</td>
                                <td>5483.2</td>
                                <td>-168.5</td>
                                <td>+12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>