<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <br /><br />

                <div class="Ins-head">
                    <b class="uk-text-primary">My Stocks</b>
                </div>
                <br />
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h2>Amount Invested</h2>
                                <br />
                                <h3 class="">&#8377 10,00,000</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h2>Current Value</h2>
                                <br />
                                <h3>&#8377 15,00,000</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h2>Profit/Loss</h2>
                                <br />
                                <h3>&#8377 5,00,000 </h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="md-card">
                            <div class="md-card-content">
                                <h2>Profit/Loss %</h2>
                                <br />
                                <h3>
                                    50%</h3>
                            </div>
                        </div>
                    </div>
                </div> <br>
                <div class="Ins-head">
                    <b class="uk-text-primary"> My Stock Portofolio</b>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="md-card">
                            <div class="md-card-content">

                                <div class="uk-overflow-container">
                                    <table class="uk-table uk-table-hover">
                                        <thead class="">
                                            <tr>
                                                <th>
                                                    <h5 class="">Stock Name</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Stock Code</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Total Quantity</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Avg Purchase Price</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Crrent price</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Amount Invested</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Current Value</h5>
                                                </th>
                                                <th>
                                                    <h5 class="">Profit/Loss</h5>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr>
                                                <td>CITY UNION BANK</td>
                                                <td>CUB</td>
                                                <td> 80
                                                </td>
                                                <td>160</td>
                                                <td>164.4</td>
                                                <td>12000</td>
                                                <td>12800</td>
                                                <td>314.2</td>

                                            </tr>
                                            <tr>
                                                <td>DEVIS LABORATORIES</td>
                                                <td>DEVIS</td>
                                                <td>20</td>
                                                <td>4300 </td>
                                                <td>4500</td>
                                                <td>41500</td>
                                                <td>44500</td>
                                                <td>420.25</td>

                                            </tr>
                                            <tr>
                                                <td>HCL TECHNOLOGIES</td>
                                                <td>HCL</td>
                                                <td>10</td>
                                                <td>955</td>
                                                <td>9000</td>
                                                <td>9900</td>
                                                <td>11000</td>
                                                <td>1172</td>

                                            </tr>
                                            <tr>
                                                <td>HDFC</td>
                                                <td>HDFC</td>
                                                <td>10</td>
                                                <td>955</td>
                                                <td>9000</td>
                                                <td>9900</td>
                                                <td>11000</td>
                                                <td>1172</td>

                                            </tr>
                                            <tr>
                                                <td>PIDILITE</td>
                                                <td>PIDI</td>
                                                <td>10</td>
                                                <td>955</td>
                                                <td>9000</td>
                                                <td>9900</td>
                                                <td>11000</td>
                                                <td>1172</td>

                                            </tr>
                                            <tr>
                                                <td>ONGC</td>
                                                <td>ONGC</td>
                                                <td>10</td>
                                                <td>955</td>
                                                <td>9000</td>
                                                <td>9900</td>
                                                <td>11000</td>
                                                <td>1172</td>

                                            </tr>
                                            <tr>
                                                <td>TCS</td>
                                                <td>TCS</td>
                                                <td>10</td>
                                                <td>955</td>
                                                <td>9000</td>
                                                <td>9900</td>
                                                <td>11000</td>
                                                <td>1172</td>

                                            </tr>


                                        </tbody>
                                    </table>
                                    <ul class="uk-pagination">
                                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span>
                                        </li>
                                        <li class="uk-active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><span>&hellip;</span></li>
                                        <li><a href="#">20</a></li>
                                        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>