<div id="page_content">
    <div id="page_content_inner">
        

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <img src="assets\img\wallet.png.png" alt="" width="100" />
                    </div>
                    
                    <div class="uk-width-medium-1-4">
                        <h1 style="margin-top: 45px; margin-left:-230px; color:rgb(61, 151, 224);">My wallet</h1>
                    </div>

                </div>
                </br>
                <div class="uk-width-medium-1-1">
                    
                    <div class="md-card" style="background-color: rgb(61, 151, 224);">
                        <div class="md-card-content">
                            <h1 style="color:#fff;">You have spare cash with you</h1>
                            <h5 style="color:#fff;">Deposit spare cash to generate better returns</h5>
                        </div>
                    </div>
                </div><br><br>
                <div class="uk-width-medium-1-3">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h1>Balance</h1>
                            ₹ 1,00,000,000
                        </div>
                    </div>
                </div><br>

                <div class="uk-width-medium-1-5">
                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)">Deposit Cash in Bank</a>
                </div>
                <h3> No Bank Account Error Message</h3>
                <img src="assets/img/opps.webp" alt="" width="300" style="margin-left:300px ;">
                <h2> You don’t have a bank account yet. Don’t worry … You are just a click away to open an account and start investing</h2>

                <div class="uk-width-medium-1-2">
                    <a class="md-btn md-btn-primary md-btn-wave-light" ui-sref="restricted.dashboard"  style="float:right;">Open Bank Account</a>

                </div>
            </div>

        </div>
    </div>
</div>