<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b" style="color:rgb(51, 113, 194); font-size:30px "><b>Open Bank Account<b></h3>
            <br>
            <br>
            

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="md-card  md-bg-light-blue-600" style=" border-radius: 10px ">
                    <div class=" md-card-content ">
                        <h2 style="color:white; font-size:30px ">Select Your Bank</h2>
                        <p style="color:white; font-size:25px ">To keep it simple for you, this platform allows you to maintain only one Bank A/C</p>
                    </div>
                </div>

            </div>
        </div>
        <h4 class="heading_a uk-margin-bottom"></h4>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Bank Name</th>
                                <th>Saving Intrest rate (in %)</th>
                                <th>Minimum balance (in INR)
                                </th>
                                <th>Fee – Below minimum balance (in INR)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ICICI</td>
                                <td>6.5</td>
                                <td>50000</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>HDFC</td>
                                <td>6</td>
                                <td> 40000</td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td> IndusInd</td>
                                <td> 7</td>
                                <td>50000</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td> SBI</td>
                                <td>6</td>
                                <td>25000</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Axis</td>
                                <td>6.5</td>
                                <td>10000</td>
                                <td>300</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" style="margin-left:250px; padding:10px 125px; " data-uk-grid-margin>
            <div>
                <a ui-sref="restricted." href="javascript:void(0)" class="md-btn md-bg-light-blue-600 md-btn-large md-btn-block md-btn-icon"style="color:white";>Open Bank Account</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <h3 class="heading_b" style="color:rgb(51, 113, 194); font-size:30px ">
            <b>Your Account</b></h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="md-card md-bg-light-blue-600" style="border-radius: 10px ">
                    <div class=" md-card-content ">
                        <h2 style="color:white; font-size:30px ">Congratulations…</h2>
                        <p style="color:white; font-size:25px ">You can now deposit cash from “My Wallet” and earn interest !!!
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Bank Name</th>
                    <th>Saving Account Number</th>
                    <th>Minimum Balance
                    </th>
                    <th>user Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ICICI</td>
                    <td>0101100001</td>
                    <td>50000</td>
                    <td>
                        <<username>></td>
                </tr>

            </tbody>
        </table>

        <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" style="margin-left:250px; padding:10px 125px; " data-uk-grid-margin>
            <div>
                <a  ui-sref="restricted." href="javascript:void(0)" class="md-btn md-bg-light-blue-600 md-btn-large md-btn-block md-btn-icon" style="color:white" ;>Deposit cash in bank</a>
            </div>
        </div>
    </div>