<div id="page_content">
  
        <div id="page_content_inner">

            <!-- <i class="material-icons md-48 uk-text-primary" style="padding-bottom:-100px;">security</i> -->
            <h3 class="heading_b uk-margin-bottom" style="color:blue; font-weight: 600; ">Fixed Deposits </h3>

            <br>
            <br>
           
            <div class="md-card-content">
                <div class=" uk-grid uk-grid-medium " data-uk-grid-margin data-uk-grid-match="{target: '.md-card'} ">
                    <div class="uk-width-medium-1-4 ">
                        <div class="md-card " style="border-radius: 20px;  height:200px; font-weight: 900; font-size: 20px;">
                            <div class=" md-card-content1 " style=" text-align:center; padding-top:40px ; ">
                                <b>Deposit Amount
                                </b>
                                <p>₹10,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class=" uk-width-medium-1-4 ">
                        <div class="md-card " style="border-radius: 20px;  height:200px; font-weight: 900; font-size: 20px;">
                            <div class="md-card-content2 " style=" text-align:center; padding-top:40px ; ">
                                <b>Current Balance
                                </b>
                                <p>₹11,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 ">
                        <div class="md-card  " style="border-radius: 20px; height:170px;font-weight: 900; font-size: 20px;">
                            <div class="md-card-content3 " style=" text-align:center; padding-top:40px ; ">
                                <b>Interest Earned
                                </b>
                                <p>₹1,00,000</p>
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-medium-1-4 ">
                        <div class="md-card " style="border-radius: 20px;  height:170px;font-weight: 900; font-size: 20px;">
                            <div class="md-card-content4 " style=" text-align:center; padding-top:40px ; ">
                                <b>Capital loss
                                </b>
                                <p>₹0</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="uk-width-medium-1-1">
                        <div class="md-card md-bg-blue-800" style="border-radius: 10px ">
                            <div class=" md-card-content ">
                                <h2 style="color:white; font-size:30px ">Deposit your cash in Fixed Deposits
                                </h2>
                                <p style="color:white; font-size:25px ">Earn higher returns than Savings Bank Account Interest

                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <br>

            <div class="uk-width-medium-1-2">
                <div class="md-card uk-margin-medium-bottom">
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Bank</th>
                                        <th>Tenure (in months)</th>
                                        <th>Interest Rate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ICICI
                                        </td>
                                        <td>12</td>
                                        <td>7%</td>
                                    </tr>
                                    <tr>
                                        <td> ICICI
                                        </td>
                                        <td>24</td>
                                        <td>7.5%</td>
                                    </tr>
                                    <tr>
                                        <td>ICICI
                                        </td>
                                        <td>36</td>
                                        <td>8%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                <div>
                    <a  ui-sref="restricted." href="javascript:void(0) " class="md-btn md-bg-blue-800 md-btn-large md-btn-icon " style="color:white " ;>Open Bank Account</a>
                </div>
            </div>
            <br>

            <h3 class="heading_b uk-margin-bottom" style="color:blue; font-weight: 600; ">Current Fixed Deposits</h3>

            <div class="uk-width-medium-1-1">
                <div class="md-card uk-margin-medium-bottom">
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>FD No</th>
                                        <th>FD Amount</th>
                                        <th>FD Open Date </th>
                                        <th>Interest Rate (%) </th>
                                        <th>Maturity Date</th>
                                        <th>Maturity Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0100098</td>
                                        <td>3,00,000</td>
                                        <td>31-Dec-2020 %</td>
                                        <td>7</td>
                                        <td>31-Dec-2021 </td>
                                        <td>3,21,000</td>
                                    </tr>
                                    <tr>
                                        <td> 3,21,000</td>
                                        <td>5,00,000</td>
                                        <td>1-Jan-2021</td>
                                        <td>7</td>
                                        <td>1-Jan-2022</td>
                                        <td>5,40,000</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin style="margin-left:250px " ;>
                <div>
                    <a  ui-sref="restricted." href=" javascript:void(0) " class="md-btn md-bg-blue-800 md-btn-large md-btn-icon " style="color:white " ;>OK </a>
                    <a ui-sref="restricted."  href="javascript:void(0) " class="md-btn md-bg-blue-800 md-btn-large md-btn-icon " style="color:white " ;>Pre-Close FD </a>

                </div>
            </div>
            <br>
            <br>
            <div class="uk-width-medium-1-2">

                <h3>Open Fixed Deposits</h3>
                <div class="md-card-content">
                    <div class=" uk-grid uk-grid-medium " data-uk-grid-margin data-uk-grid-match="{target: '.md-card'} ">

                        <div class="uk-width-medium-1-2 ">
                            <div class="md-card md-bg-blue-100" style="border-radius: 20px; height:200px; width: 450px; font-weight: 900; font-size: 20px;">
                                <div class=" md-card-content1 " style=" text-align:center; padding-top:40px ; ">
                                    <i class="material-icons md-48 uk-text-primary">account_balance</i>
                                    <b>Savings A/C Balance</b>
                                    <p>₹1,00,000,000</p>


                                </div>

                            </div>
                        </div>
                        <div class="uk-width-medium-1-2 ">
                            <div class="uk-button-dropdown " style="margin-left:250px;" >
                                <!-- <button style="width:500px; height: 50px; " class=" md-btn ">Issuse Type &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;> </button> -->
                                <!-- <div class="uk-dropdown ">
                                    <ul class="uk-nav uk-nav-dropdown ">
                                        <li>
                                            <a href="# ">1</a>
                                        </li>
                                        <li><a href="# ">2</a></li>
                                        <li class="uk-nav-header ">3</li>
                                        <li><a href="# ">4</a></li>
                                        <li><a href="# ">5</a></li>
                                        <li class="uk-nav-divider ">6</li>
                                        <li><a href="# ">7 </a></li>
                                    </ul>
                                </div> -->
                                <select style="width: 600px; height: 80px; padding: 16px 30px; border: none; border-radius: 10px; background-color: #f1f1f1;" id=" country " name="country ">
                                    <option value="au ">Select Tenure </option>
                                    <option value="ca ">1</option>
                                    <option value="usa ">2</option>
                                    </select>
                                <br>
                                <br>
                                <br>
                                <input style="width: 540px; height: 50px; padding: 16px 30px; border: none; border-radius: 10px; background-color: #f1f1f1;" type="number" id="fname" placeholder="Amount (Cash to be Deposited)
                                " name=" fname ">
                                <br>
                                <br>
                                <br>

                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin style="margin-left:50px; border-radius: 30px" ;>
                                    <div>
                                        <a ui-sref="restricted." href=" javascript:void(0) " class="md-btn md-bg-blue-800 md-btn-large  " style="color:white " ;>Open FD </a> &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div style="min-width: 84px;">
                                        <a  ui-sref="restricted." href=" javascript:void(0) " class="md-btn md-bg-blue-800 md-btn-large  " style="color:white " ;>Cancel </a>

                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                    


                </div>
            </div>
        </div>
    </div> 
</div>             